// linear
$size-100: $scale-025;
$size-200: $scale-050;
$size-300: $scale-075;
$size-400: $scale-100;
$size-500: $scale-150;
$size-600: $scale-200;
$size-700: $scale-300;
$size-800: $scale-400;
$size-900: $scale-500;
$size-1000: $scale-600;

// dynamic
$size-xxs: $scale-050 * $density;
$size-xs: $scale-100 * $density;
$size-sm: $scale-150 * $density;
$size-md: $scale-200 * $density;
$size-lg: $scale-300 * $density;
$size-xl: $scale-400 * $density;
$size-xxl: $scale-500 * $density;
