$base: 16;

$scale-0: $base * 0;
$scale-050: $base * 0.5;
$scale-100: $base * 1;
$scale-150: $base * 1.5;
$scale-200: $base * 2;
$scale-300: $base * 3;
$scale-400: $base * 4;
$scale-500: $base * 5;
$scale-600: $base * 6;
$scale-700: $base * 7;
$scale-800: $base * 8;
$scale-900: $base * 9;
$scale-1000: $base * 10;
